body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f8ff;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #87ceeb;
}

.note-style{
    text-align: center;
    padding: 10px;
    color: gray;

}